.App{
  background-color: rgb(140, 200, 235);
  padding: 10px;
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.textBox{
  flex: 1 1 200px;
  /*flex-grow, flex-shrink, initial size*/
  margin: 50px 60px;
  
}

form{
  display: flex;
  margin: 20px;
}

h1,form{
  text-align: center;
  
}

.text{
  list-style-type: none;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 40px;
}

input{
 /* width: 350px;*/
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  flex: 1 1 300px;
  border: none;
}

button{
  color: black;
  background-color: rgb(154, 230, 207);
  margin-left: 5px;
  
  border: none;
  height: 40px;
 /* width: 50px;*/
  flex: 1 1 50px;
  border-radius: 12px;
  cursor: pointer;
}


/*input{
  width: 350px;
  height: 40px;
  border-radius: 5px;
  margin-left: 35px;
  font-size: 20px;
}

button{
  color: black;
  background-color: rgb(230, 247, 242);
  margin-left: 5px;
  border: none;
  height: 40px;
  width: 50px;
  border-radius: 12px;
  cursor: pointer;
}

.text{
  margin-bottom: 15px;
  list-style-type: none;
  font-size: 20px;
  background-color: antiquewhite;
  height: 50px;
  border-radius: 5px;
  width: 400px;
  display: flex;
  align-items: center;
}*/

.box{
  height: 20px;
  width: 20px;
  background-color: hsl(180, 54%, 81%);
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 2px;

}

.box:active{
  background-color: hsl(244, 86%, 20%);
}

.btn{
  height: 20px;
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}


